{# 1 - superAdmin
   2 - admin
   3 - recenzent
   4 - auto
#}

{# macro from showing value as star rating #}
{% macro starRating(value) %}
    {% for i in 1..5 %}
        {% if i <= value %}
            <span class="fa fa-star checked"></span>
        {% else %}
            {% if value >= (i - 0.5) %}
                <span class="fa fa-star-half-full checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{# row in table #}
{% macro tableRow(user, loggedUser, allRights, index) %}
    {% if user.isBanned == 1 %}
        <tr class="bannedRow" id="user{{ user.id_uzivatel }}">
    {% else %}
        <tr id="user{{ user.id_uzivatel }}">
    {% endif %}
        {# user id #}
        <td>{{ user.id_uzivatel }}</td>
        {# user login #}
        <td>{{ user.login }}</td>
        {# user name #}
        <td>{{ user.jmeno }}</td>

        {# logged user is superadmin #}
        {% if loggedUser.id_pravo == 1 %}
            {# superadmin cant change his role and cant ban himself#}
            {% if loggedUser.id_uzivatel != user.id_uzivatel %}
                <td style="width: 20%;">
                    {# if usser is banned #}
                    {% if user.isBanned == 1 %}
                         <select disabled class="form-select form-select-sm" aria-label="Default select example" id="select{{ index }}"
                            onchange="changeRight({{ index }}, {{ user.id_uzivatel }})" onclick="previousValue({{ index }})">
                    {% else %}
                        <select class="form-select form-select-sm" aria-label="Default select example" id="select{{ index }}"
                            onchange="changeRight({{ index }}, {{ user.id_uzivatel }})" onclick="previousValue({{ index }})">
                    {% endif %}
                        {# going through all rights#}
                        {% for right in allRights %}
                            {# if right is SuperAdmin dont show option #}
                            {% if right.nazev == "SuperAdmin" %}
                            {# else show name of right#}
                            {% else %}
                                <option value="{{ right.id_pravo }}"
                                        {# if user right is is same as right id -> selected#}
                                        {% if user.id_pravo == right.id_pravo%}
                                            selected
                                        {% endif %}
                                >{{ right.nazev }}</option>
                            {% endif%}
                        {% endfor %}
                    </select>
                </td>
                <td style="text-align: center" id="columnBanUnban{{ user.id_uzivatel }}">
                    {# dont show ban button if id of user is same as logged #}
                    {% if user.id_uzivatel != loggedUser.id_uzivatel %}
                        {% if user.isBanned == 1 %}
                            <button type="button" class="btn btn-success" name="action" value="unban" onclick="banUnbanUser({{ user.id_uzivatel }},'unban', {{ index }})">Povolit</button>
                        {% else %}
                            <button type="button" class="btn btn-danger" name="action" value="ban" onclick="banUnbanUser({{ user.id_uzivatel }},'ban', {{ index }})">Zakázat</button>
                        {% endif %}
                    {%  endif %}
                </td>
            {% else %}
                <td>SuperAdmin</td>
                <td></td>
            {% endif %}
        {# logged user is admin #}
        {% else %}
            {# show Superadmin #}
            {% if user.id_pravo == 1 %}
                <td>SuperAdmin</td>
                <td></td>
            {# show Admin#}
            {% elseif user.id_pravo == 2 %}
                <td>Admin</td>
                <td></td>
            {# user isnt admin or superadmin so u can change his role or ban him #}
            {% else %}
                <td style="width: 20%;">
                    {# if usser is banned #}
                    {% if user.isBanned == 1 %}
                        <select disabled class="form-select form-select-sm" aria-label="Default select example" id="select{{ index }}"
                            onchange="changeRight({{ index }}, {{ user.id_uzivatel }})" onclick="previousValue({{ index }})">
                    {% else %}
                        <select class="form-select form-select-sm" aria-label="Default select example" id="select{{ index }}"
                            onchange="changeRight({{ index }}, {{ user.id_uzivatel }})" onclick="previousValue({{ index }})">
                    {% endif %}

                        {# going through all rights#}
                        {% for right in allRights %}
                            {# if right is SuperAdmin dont show option #}
                            {% if right.nazev == "SuperAdmin" %}
                                {# else show name of right#}
                            {% else %}
                                <option value="{{ right.id_pravo }}"
                                        {# if user right is is same as right id -> selected#}
                                        {% if user.id_pravo == right.id_pravo %}
                                            selected
                                        {% endif %}
                                >{{ right.nazev }}</option>
                            {% endif%}
                        {% endfor %}
                    </select>
                </td>
                <td style="text-align: center" id="columnBanUnban{{ user.id_uzivatel }}">
                    {# dont show ban button if id of user is same as logged or if user id of right is 1 or 2 #}
                    {% if user.id_uzivatel != loggedUser.id_uzivatel and user.id_pravo != 2 and user.id_pravo != 1 %}
                        {% if user.isBanned == 1 %}
                            <button type="button" class="btn btn-success" name="action" value="unban" onclick="banUnbanUser({{ user.id_uzivatel }},'unban', {{ index }})">Povolit</button>
                        {% else %}
                            <button type="button" class="btn btn-danger" name="action" value="ban" onclick="banUnbanUser({{ user.id_uzivatel }},'ban', {{ index }})">Zakázat</button>
                        {% endif %}
                    {%  endif %}
                </td>
            {% endif%}
        {% endif %}
    </tr>
{% endmacro %}