{# page with all articles #}

{% extends "BasicTemplate.twig" %}

{# import makra #}
{% import "makra.twig" as makra %}

{# articles #}
{% block articles%}
    {% set index = 0 %}
    {% for article in allArticles %}
        {% if article.id_stav == 2 %}
            <div class="card mx-auto articles">
                <div class="card-header articlesHeader">
                    {{ article.datum }}
                </div>
                <div class="card-body">
                    <div class="alert alert-success d-flex align-items-center statusAlerts" role="alert">Hodnocení:
                        {% set i = 0 %}
                        {% for review in articles[index] %}
                            <div class="alertReview">
                                {{ alphabet[i] }}  {{ makra.starRating(review.celkem) }}
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                        <div class="alertAccepted"> Status: akceptováno. </div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm float-end" onclick="showPDFFile({{ index }})"><span class="fa fa-book"></span> zobrazit PDF</button>
                    <h5 class="card-title">{{ article.nadpis }}</h5>
                    <p class="card-text">{{ article.obsah }}</p>

                    <div class="showPDF" id="showPDF{{ index }}">
                        <hr>
                        <div class="hidePDFFiles mx-auto"><a  href="javascript:void(0);" onclick="hidePDFFile({{ index }})">Skrýt PDF</a></div><br>
                        <object data="data:application/pdf;base64,{{ article.pdf }}" type="application/pdf" class="pdfFiles"></object>
                    </div>
                </div>
            </div>
        {% endif %}
    {% set index = index + 1 %}
    {% endfor %}
{% endblock %}

{# my scripts #}
{% block myJS %}
    <script src="app/Views/js/login-registration.js"></script>
    <script src="app/Views/js/articles.js"></script>
    <script src="app/Views/js/dateFormat.js"></script>
{% endblock %}