{# user management and review management page #}
{% extends "BasicTemplate.twig" %}

{# reviewsManagement #}
{% block reviewsManagement %}
    {% if user != null and user.id_pravo == 1 or user.id_pravo == 2 %}
        {% set articleNumber = 0 %}
        {% for article in allArticles %}
            <div class="card mx-auto articles">
                <div class="card-header articlesHeader">
                    {{ article.datum }}
                </div>
                <div class="card-body">
                    <div class="float-end">
                        <form method="POST">
                            <button type="button" class="btn btn-success btn-sm"><span class="fa fa-check-circle"></span> schválit</button>
                            <button type="button" class="btn btn-danger btn-sm btnDelete"><img src="images/xMark.png" style="width:12px; margin-top: -2px"> zamítnout</button>
                        </form>
                    </div>
                    <h5 class="card-title mb-4">{{ article.nadpis }}</h5>
                    <p class="card-text">Recenze:</p>

                    <div class="input-group mb-3" style="width: 40%">
                        {# if article has less than 3 reviewers -> show him selectbox #}
                        {% if articles[articleNumber] != null %}
                            <span class="input-group-text " id="basic-addon1">Přdat recenzenta</span>
                            <select class="form-select" aria-label="Default select example">
                                {# going through all reviewers for specific article #}
                                {% for reviewer in articles[articleNumber] %}
                                    <option>{{ reviewer.jmeno }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-success" type="button" id="button-addon2">Přidat</button>
                        {% endif %}
                    </div>

                    <table class="table table-bordered table-striped mx-auto" style="background-color: #e8fcee;  table-layout: fixed;">
                        <thead style="background-color: #75d9b6">
                        <tr>
                            <th>Jméno</th>
                            <th>Celkem</th>
                            <th>Obsah</th>
                            <th>Formálně</th>
                            <th>Novost</th>
                            <th>Jazyk</th>
                            <th>Odstranit</th>
                        </tr>
                        </thead>
                        <tbody>
                            {#  #}
                            {% set reviewerNumber = 0 %}
                            {% for review in articleReviews[articleNumber] %}
                                <tr>
                                    <td>{{ articleReviewers[articleNumber][reviewerNumber].jmeno }}</td>
                                    <td>{{ review.celkem }}</td>
                                    <td>{{ review.obsahBody }}</td>
                                    <td>{{ review.formalnost }}</td>
                                    <td>{{ review.novost }}</td>
                                    <td>{{ review.jazyk }}</td>
                                    <td style="text-align:center;"><button type="button" class="btn btn-danger" style="width: 30%; "><img src="images/xMark.png" style="width:11px; height: 2%"></button></td>
                                </tr>
                            {% set reviewerNumber = reviewerNumber + 1 %}
                            {% endfor%}
                            {# if article has less than 3 reviewers -> show him selectbox #}

                            {% if articles[articleNumber] != null %}
                                <tr>
                                    <td colspan="7">
                                        <div class="alert alert-warning" style="margin: -5px" role="alert">Přiřaďte ještě
                                            {{ 3 - articleReviewers[articleNumber] | length }}
                                            {% if (3 - articleReviewers[articleNumber] | length) == 1 %}
                                                recenzenta.
                                            {% else %}
                                                recenzenty.
                                            {% endif %}
                                        </div>
                                    </td>

                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div><!--body card-->
            </div>
            {% set articleNumber = articleNumber + 1 %}
        {% endfor %}
    {% else %}
        {# user isnt admin or superadmin so he doesnt have access #}
        <script>
            location.replace("index.php?page=informations");
        </script>
    {% endif %}
{% endblock %}

{# my scripts #}
{% block myJS %}
    <script src="app/Views/js/articles.js"></script>
    <script src="app/Views/js/dateFormat.js"></script>
{% endblock %}