{# user management and review management page #}
{% extends "BasicTemplate.twig" %}

{# import makra #}
{% import "makra.twig" as makra %}

{# reviewsManagement #}
{% block reviewsManagement %}
    {% if user != null and user.id_pravo == 1 or user.id_pravo == 2 %}
        {% set articleNumber = 0 %}
        {% for article in allArticles %}
            <div class="card mx-auto articles">
                <div class="card-header articlesHeader">
                    {{ article.datum }}
                </div>
                <div class="card-body">
                    {% if article.id_stav == 3 %}
                        <div class="alert alert-info d-flex align-items-center statusAlerts" role="alert">Čeká na posouzení</div>
                    {% elseif article.id_stav == 2 %}
                        <div class="alert alert-success d-flex align-items-center statusAlerts" role="alert">Článek akceptován</div>
                    {% elseif article.id_stav == 1 %}
                        <div class="alert alert-danger d-flex align-items-center statusAlerts" role="alert">Článek zamítnut</div>
                    {% endif %}
                    <div class="float-end">
                        <form method="POST">
                            {# checking if all reviews are published #}
                            {% set flag = false %}
                            {% for review in articleReviews[articleNumber] %}
                                {% if review.zverejnena == 0 %}
                                    {% set flag = true %}
                                {% endif %}
                            {% endfor %}
                            {% if (articleReviewers[articleNumber] | length) == 3 and flag == false %}
                                <button type="submit" class="btn btn-success btn-sm" name="action" value="acceptArticle"><span class="fa fa-check-circle"></span> schválit</button>
                                <button type="submit" class="btn btn-danger btn-sm" name="action" value="rejectArticle"><img src="images/xMark.png" style="width:12px; margin-top: -2px"> zamítnout</button>
                                <input type="hidden" name="articleID" value="{{ article.id_clanku }}">
                            {% else %}
                                <button type="submit" disabled class="btn btn-success btn-sm" name="action" value="acceptArticle"><span class="fa fa-check-circle"></span> schválit</button>
                                <button type="submit" disabled class="btn btn-danger btn-sm" name="action" value="rejectArticle"><img src="images/xMark.png" style="width:12px; margin-top: -2px"> zamítnout</button>
                            {% endif %}
                        </form>
                    </div>
                    <h5 class="card-title mb-4">{{ article.nadpis }}</h5>
                    <p class="card-text">Recenze:</p>

                    {# if article has less than 3 reviewers -> show him selectbox #}
                    {% if articles[articleNumber] != null %}
                        <form method="post">
                            <div class="input-group mb-3" style="width: 40%">
                                <span class="input-group-text " id="basic-addon1">Přdat recenzenta</span>
                                <select class="form-select" aria-label="Default select example" name="reviewer">
                                    {# going through all reviewers for specific article #}
                                    {% for reviewer in articles[articleNumber] %}
                                        <option value="{{ reviewer.id_uzivatel }}">{{ reviewer.jmeno }}</option>
                                    {% endfor %}
                                </select>
                                {% if (articleReviews[articleNumber] | length) < 3 %}
                                    <button class="btn btn-success" type="submit" id="button-addon2" name="action" value="addReviewer" onclick="alert('Recenzent úspěšně přiřazen.')">Přidat</button>
                                {% else %}
                                    <button disabled class="btn btn-success" type="submit" id="button-addon2" name="action" value="addReviewer" onclick="alert('Recenzent úspěšně přiřazen.')">Přidat</button>
                                {% endif %}

                                <input type="hidden" name="articleID" value="{{ article.id_clanku }}">
                            </div>
                        </form>
                    {% endif %}

                    <table class="table table-bordered table-striped mx-auto" style="background-color: #e8fcee;  table-layout: fixed;">
                        <thead style="background-color: #75d9b6">
                        <tr>
                            <th>Jméno</th>
                            <th>Celkem</th>
                            <th>Obsah</th>
                            <th>Formálně</th>
                            <th>Novost</th>
                            <th>Jazyk</th>
                            <th>Odstranit</th>
                        </tr>
                        </thead>
                        <tbody>
                            {#  #}
                            {% set reviewerNumber = 0 %}
                            {% for review in articleReviews[articleNumber] %}
                                <tr>
                                    {% if review.zverejnena != 0 %}
                                        <td>{{ articleReviewers[articleNumber][reviewerNumber].jmeno }}</td>
                                        <td> {{ makra.starRating(review.celkem) }}</td>
                                        <td> {{ makra.starRating(review.obsahBody) }}</td>
                                        <td>{{ makra.starRating(review.formalnost) }}</td>
                                        <td>{{ makra.starRating(review.novost) }}</td>
                                        <td>{{ makra.starRating(review.jazyk) }}</td>
                                    {% else %}
                                        <td>{{ articleReviewers[articleNumber][reviewerNumber].jmeno }}</td>
                                        <td colspan="5"><div class="alert alert-light alertWaiting" role="alert">Čeká na hodnocení</div></td>
                                    {% endif %}
                                    <td style="text-align:center;">
                                        <form method="post">
                                            <button class="btn btn-danger btnRemoveReviewer" type="submit" name="action" value="removeReviewer"><img src="images/xMark.png" style="width:11px; "></button>
                                            <input type="hidden" name="reviewerID" value="{{ articleReviewers[articleNumber][reviewerNumber].id_uzivatel}}">
                                            <input type="hidden" name="articleID" value="{{ review.id_clanku }}">
                                        </form>
                                    </td>
                                </tr>
                            {% set reviewerNumber = reviewerNumber + 1 %}
                            {% endfor%}
                            {# if article has less than 3 reviewers -> show him selectbox #}

                            {% if (articleReviews[articleNumber] | length) < 3 %}
                                <tr>
                                    <td colspan="7">
                                        <div class="alert alert-warning alertAddReviewer" role="alert">Přiřaďte ještě
                                            {{ 3 - articleReviewers[articleNumber] | length }}
                                            {% if (3 - articleReviewers[articleNumber] | length) == 1 %}
                                                recenzenta.
                                            {% else %}
                                                recenzenty.
                                            {% endif %}
                                        </div>
                                    </td>

                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div><!--body card-->
            </div>
            {% set articleNumber = articleNumber + 1 %}
        {% endfor %}
    {% else %}
        {# user isnt admin or superadmin so he doesnt have access #}
        <script>
            location.replace("index.php?page=informations");
        </script>
    {% endif %}
{% endblock %}

{# my scripts #}
{% block myJS %}
    <script src="app/Views/js/articles.js"></script>
    <script src="app/Views/js/dateFormat.js"></script>
{% endblock %}