{# page with users articles #}

{% extends "BasicTemplate.twig" %}

{# import makra #}
{% import "makra.twig" as makra %}

{# myReviews #}
{% block myReviews %}
    {% if user != null and user.id_pravo == 3 %}
        {% set index = 0 %}
        {% for article in assignedArticles %}
        <div class="card mx-auto articles">
            <div class="card-header articlesHeader">
                {{ article.datum }}
            </div>
            <div class="card-body">
                {% if article.id_stav == 3 %}
                    <div class="alert alert-info d-flex align-items-center statusAlerts" role="alert">Hodnocení: Čeká na posouzení</div>
                {% elseif article.id_stav == 2 %}
                    <div class="alert alert-success d-flex align-items-center statusAlerts" role="alert">Hodnocení:
                        {% set i = 0 %}
                        {% for review in articles[index] %}
                            <div class="alertReview">
                                {% if review.id_recenzenta == user.id_uzivatel %}
                                    Moje
                                {% else %}
                                    {{ alphabet[i] }}
                                {% endif %}
                                {{ makra.starRating(review.celkem) }}
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                        <div class="alertAccepted"> Status: akceptováno. </div>
                    </div>
                {% elseif article.id_stav == 1 %}
                    <div class="alert alert-danger d-flex align-items-center statusAlerts" role="alert">Hodnocení:
                        {% set i = 0 %}
                        {% for review in articles[index] %}
                            <div class="alertReview">
                                {% if review.id_recenzenta == user.id_uzivatel %}
                                    Moje
                                {% else %}
                                    {{ alphabet[i] }}
                                {% endif %}
                                {{ makra.starRating(review.celkem) }}
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                        <div class="alertRejected"> Status: zamítnuto. </div>
                    </div>
                {% endif %}
                <div class="float-end">
                    <form method="POST">
                        <button type="button" class="btn btn-primary btn-sm" onclick="showReviewForm({{ index }})"><span class="fa fa-pencil"></span> Recenzovat</button>
                        <a href="data:application/xml;charset=utf-8,<object style='width: 100%; height:100%' data='data:application/pdf;base64,{{ pdfs[index] }}' type='application/pdf' class='pdfFiles'></object>" download="soubor{{ index }}.html"> <button type="button" class="btn btn-success btn-sm"><span class="fa fa-download"> Stáhnout</span></button></a>
                    </form>
                </div>
                <h5 class="card-title mb-4">{{ article.nadpis }}</h5>
                <p class="card-text"><b>Abstrakt: </b>{{ article.obsah }}</p>
                <div class="reviewForms" id="reviewForm{{ index }}">
                    <hr>
                    <form method="post">
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="group" class="form-label">Posuzované vlasnosti: (<small>1 - nejhorší, 5 - nejlepší</small>)</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text w-25" id="basic-addon1">Kvalita obsahu</span>
                                    <input type="number" class="form-control" placeholder="3" value="3" aria-label="qualityValue" name="qualityValue" aria-describedby="basic-addon1" min="1" max="5">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text w-25" id="basic-addon1">Formální úroveň</span>
                                    <input type="number" class="form-control w-25" placeholder="3" value="3" aria-label="formalValue" name="formalValue" aria-describedby="basic-addon1" min="1" max="5">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text w-25" id="basic-addon1">Novost</span>
                                    <input type="number" class="form-control" placeholder="3" value="3" aria-label="newestValue" name="newestValue" aria-describedby="basic-addon1" min="1" max="5">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text w-25" id="basic-addon1">Kvalita jazyka</span>
                                    <input type="number" class="form-control float-end" placeholder="3" value="3" name="languageValue" aria-label="languageValue" aria-describedby="basic-addon1" min="1" max="5">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label for="editor" class="form-label">Vlastní komentář:</label>
                                <textarea class="editor" style="height: 9.7vw; width: 100%; background-color: white;" name="content"></textarea>
                            </div>

                            <div style="text-align: center;"><button type="submit" class="btn btn-success" name="action" value="saveReview" onclick="alert('Recenze úspěšně vytvořena.')">Uložit recenzi</button>
                                <button type="button" class="btn btn-danger ms-3" name="action" value="cancelReview" onclick="cancelReviewForm({{ index }})">Zrušit</button>
                                <input type="hidden" name="articleID" value="{{ article.id_clanku }}">
                            </div>
                        </div>
                    </form>
                </div> <!---skryto-->
            </div>
        </div>
        {% set index = index + 1 %}
        {% endfor %}
    {% else %}
        {# user isnt reviewer so he doesnt have access #}
        <script>
            location.replace("index.php?page=informations");
        </script>
    {% endif %}
{% endblock %}

{# my scripts #}
{% block myJS %}
    <script src="app/Views/js/ckEditor.js"></script>
    <script src="app/Views/js/reviews.js"></script>
    <script src="app/Views/js/dateFormat.js"></script>
{% endblock %}