{# page with users articles #}

{% extends "BasicTemplate.twig" %}

{# import makra #}
{% import "makra.twig" as makra %}

{# myArticles #}
{% block myArticles %}
    {# vlastní články si může zobrazit pouze autor #}
    {% if user.id_pravo == 4 %}
        <button type="button" class="btn btn-success fa fa-plus-circle" id="addNewArticle"> Přidat nový článek</button>
        <div class="mx-auto" id="newArticleDiv">
            <button type="button" class="btn-close float-end" aria-label="Close" id="closeNewArticleDiv"></button>
            <br>
            <h4>Nový článek</h4>
            <form method="post" enctype="multipart/form-data" autocomplete="on">
                <div class="mb-3 col-md-3 col-sm-12">
                    <label for="Nadpis" class="form-label">Nadpis</label>
                    <input type="text" class="form-control" id="Nadpis" name="title" placeholder="Nadpis" required>
                </div>

                <label for="editor" class="form-label">Abstrakt</label>
                <textarea name="abstract" class="editor"></textarea>
                <br>
                <label for="pdf_file" class="form-label">Připojit soubor (.pdf)</label>
                <div class="mb-3">
                    <div class="mb-3 col-md-4 col-sm-12">
                        <input type="file" class="form-control" name="pdf_file" aria-label="pdf_file" accept="application/pdf" required>
                    </div>
                </div>
                <div class="row mx-auto w-25">
                    <button type="submit" class="btn btn-success" name="action" value="createNewArticle">Vytvořit nový článek</button>
                </div>
            </form>
        </div>
        {# prochazime všechny uzivatelovo clanky #}
        {% set index = 0 %}
        {% for article in userArticles %}
            <div class="card mx-auto articles">
                <div class="card-header articlesHeader">
                    {{ article.datum }}
                </div>
                <div class="card-body" id="body{{ index }}">
                    {% if article.id_stav == 3 %}
                        <div class="alert alert-info d-flex align-items-center statusAlerts" role="alert">Hodnocení: Čeká na posouzení</div>
                    {% elseif article.id_stav == 2 %}
                        <div class="alert alert-success d-flex align-items-center statusAlerts" role="alert">Hodnocení:
                            {% set i = 0 %}
                            {% for review in articles[index] %}
                                <div class="alertReview">
                                    {{ alphabet[i] }}  {{ makra.starRating(review.celkem) }}
                                </div>
                                {% set i = i + 1 %}
                            {% endfor %}
                            <div class="alertAccepted"> Status: akceptováno. </div>
                        </div>
                    {% elseif article.id_stav == 1 %}
                        <div class="alert alert-danger d-flex align-items-center statusAlerts" role="alert">Hodnocení:
                            {% set i = 0 %}
                            {% for review in articles[index] %}
                                <div class="alertReview">
                                    {{ alphabet[i] }}  {{ makra.starRating(review.celkem) }}
                                </div>
                                {% set i = i + 1 %}
                            {% endfor %}
                            <div class="alertRejected"> Status: zamítnuto. </div>
                        </div>
                    {% endif %}
                    <div class="float-end ">
                        <form method="POST" id="form{{ index }}">
                            <button type="button" class="btn btn-success btn-sm" onclick="showPDFFile({{ index }})"><span class="fa fa-book"></span> zobrazit PDF</button>
                            <button type="button" class="btn btn-warning btn-sm" onclick="editArticle({{ index }}, {{ article.id_clanku }})"><span class="fa fa-pencil"></span> upravit</button>
                            <button type="button" class="btn btn-danger btn-sm btnDelete" onclick="deleteArticle()"><img src="images/xMark.png" style="width:12px; margin-top: -2px"> odstranit</button>
                            <input type="hidden" name="id_clanku" value="{{ article.id_clanku }}">
                        </form>
                    </div>
                    <h5 class="card-title mb-4" id="title{{ index }}">{{ article.nadpis }}</h5>
                    <p class="card-text" id="content{{ index }}"><b>Abstrakt: </b>{{ article.obsah }}</p>

                    <div class="showPDF" id="showPDF{{ index }}">
                        <hr>
                         <div class="hidePDFFiles mx-auto"><a  href="javascript:void(0)" onclick="hidePDFFile({{ index }})">Skrýt PDF</a></div><br>
                         <object data="data:application/pdf;base64,{{ article.pdf }}" type="application/pdf" class="pdfFiles"></object>
                    </div>
                </div>
            </div>
            {% set index = index + 1 %}
        {% endfor %}
    {% else %}
        {# vracíme na stránku informací #}
        <script> location.replace("index.php?page=informations"); </script>
    {% endif %}
{% endblock %}

{# my scripts #}
{% block myJS %}
    <script src="app/Views/js/articles.js"></script>
    <script src="app/Views/js/my-articles.js"></script>
    <script src="app/Views/js/dateFormat.js"></script>
    <script src="app/Views/js/ckEditor.js"></script>
{% endblock %}